@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cascadia Mono';
    src: url('https://raw.githubusercontent.com/microsoft/cascadia-code/master/sources/CascadiaMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

.sk-highlight {
  background: linear-gradient(
    90deg,
    var(--sk-color) 25%,
    var(--sk-highlight-color) 50%,
    var(--sk-color) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}